header{
    padding: 15px;
    background-color:cornflowerblue;
    margin: 15px;
    color:cornsilk;
}

button{
    margin:15px;
}

.time{
    text-align: center;
    padding:10px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
}
input{
    border-style:solid;
    border-width:1px;
    border-color:black;
}
.row{
    margin-bottom: 10px;
}