header{
    padding: 15px;
    background-color:cornflowerblue;
    margin: 15px;
    color:cornsilk;
}

button{
    margin:15px;
}

.time{
    text-align: center;
    padding:10px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
}
input{
    border-style:solid;
    border-width:1px;
    border-color:black;
}
.row{
    margin-bottom: 10px;
}

.present{
    background-color:rgb(255, 89, 89);
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.future{
    background-color: rgb(89, 223, 89);
    border-style:solid;
    border-width:1px;
    border-color:black;
}

.past{
    background-color:rgb(165, 165, 165);
    border-style:solid;
    border-width:1px;
    border-color:black;
}